<div id="formContent">
  <h4>Log In</h4>

  <%= form_with do |f| %>

  <%= f.label :email %>
  <%= f.email_field(:email) %><br>

  <%= f.label :password %>
  <%= f.password_field(:password) %><br>

  <%= f.submit "Log In" %>

  <% end %>

  <section>
    <h4>Don't have an account? <%= link_to "Sign up", signup_path %></h4>
    <h4><%= link_to('Log in with Facebook!', '/auth/facebook') %></h4>
  </section>
</div>