<h1>Products Index</h1>

<%= @products.each do |product| %>

<li>Name: <%= @product.name %></li><br><br>

<li>Price: <%= @product.price %></li><br><br>

<li>Stock: <%= @product.stock %></li><br><br>

<li>Description: <%= @product.description %></li><br><br>

<li>Manufacturer: <%= @product.manufacturer.name %></li><br><br>

<% end %>