  <%= render partial: 'layouts/errors', locals: {object: @product } %>

  <h3>Add a New Product</h3>

  <%= form_with(model: @product, local: true) do |f| %>
  <%= render 'form', {f: f} %>

  <% if @manufacturer.nil? %>
  <%= f.label :manufacturer_id %>
  <%= f.collection_select :manufacturer_id, Manufacturer.all.sort_by{|m| m.name}, :id, :name, prompt: true  %>
  <%= f.submit "Create" %>
  <% end %>

  <h4>To Register your Comapny, Click the Link Below.</h4>
  <%= link_to 'Register Company', manufacturers_path %><br></br>
  <% end %>