<div class="media">
  <div class="media-body">
    <%= @product.name %> by <%= link_to @product.manufacturer.name, manufacturer_path(@product.manufacturer) %><br>
    Average Rating: <%= @product.avg_rating %><br>
  </div>
</div>



<div class="media">
  <div class="media-body">
    <% if logged_in? %>
    <% if !@product.reviews.find_by(user_id: current_user.id) %>
    <%= link_to "Add Review", new_product_review_path(@product) %> ||
    <%= link_to "Edit Product", edit_product_path(@product) %><br>
    <% else %>
    <%= link_to "Edit Product", edit_product_path(@product) %> ||
    <%= link_to "Edit My Review", edit_product_review_path(@product) %>
    <% end %>
    <% end %>
  </div>
</div>

<% if @product.reviews %>
<% @product.reviews.each do |r| %>
<div class="media-box-container">
  <div class="media comment-box">
    <div class="media-body">
      <p class="media-heading"><%= link_to r.user.name, user_path(r.user) %>:</p>
      <%= r.comment %><br>
      Rating: <%= r.rating %><br>
      <%= r.updated_at %>
    </div>
  </div>
</div>
<br></br>
<!-- link_to "All Reviews", review_path(@product) -->
<% end %>
<% else %>
<p>"There are no reviews"</p>
<% end %>