<br><br>
<h2><%= "Hello, #{current_user.email}, all posted products are displayed below" %></h2>

<table>
  <tr>
    <th>All Products</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @product.each do |p| %>
  <tr>
    <td><%= link_to p.name, user_products_path(p) %></td>
    <td><%= link_to 'Edit', edit_products_path %></td>
    <td><%= link_to 'Remove', products_path(@product), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>
</table>

<br />

<td><%= link_to "Create a new product", new_products_path(@product) %></td>