<h2>Product Show Page</h2>

<td>Name: <%= @product.name %> </td><br><br>

<th>Price: <%= @product.price %> </th><br><br>

<th>Stock: <%= @product.stock %> </th><br><br>

<th>Description: <%= @product.description %> </th><br><br>

<th>Manufacturer: <%= @product.manufacturer.name %> </th>