<h1>Manufacturers Index</h1>

<% @manufacturers.each do |manufacturer| %>

<li>Name: <%= @manufacturer.name %></li><br><br>

<li>Established: <%= @manufacturer.established %></li><br><br>

<li>Bio: <%= @manufacturer.bio %></li><br><br>

<tr>
  <h4>
    <td><%= link_to 'Edit', edit_manufacturer_path(@manufacturer) %></td><br>
  </h4>
  <h4>
    <td><%= link_to 'Delete', manufacturers_path(@manufacturer), :method => :delete, data: {:confirm => "Are you sure?" } , :title => "Delete #{@manufacturer.name}" %></td><br>
  </h4>
  <h4>
    <td><%= link_to "Create a new manufacturer", new_manufacturer_path %></td>
  </h4>
</tr>
<% end %>
</table>

<br />