<%= @manufacturer.name %><br>
<%= @manufacturer.established %><br>

<%= link_to "Add New #{@manufacturer.name} Product", new_manufacturer_product_path(@manufacturer) %>

<div />
<% @products.each do |product| %>
<ul>
  <li><%= link_to product.name, product_path(product) %> - Rating:
    <% if !product.reviews.empty? %>
    <%= product.avg_rating %>
    <% else %>
    No Rating
    <% end %>
    <br>
    <%= product.category.name %></li>
</ul><br>
<% end %>
</div