  <!DOCTYPE html>
  <html>

  <head>
    <title>AClickAway</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="navbar-text">
      <p class="navbar-brand" style="text-color: white"><b><a href="/">A Click Away</a></b></p>
      <div class="navbar-text">
        <ul>
          <%= link_to 'Manufacturers', manufacturers_path %>
          <% if logged_in? %>

          <a href="/products/new">Add Product</a> |
          <%= link_to "Log Out", '/logout', method: :post %>
          <% end %>
        </ul>
      </div>
      </p>
    </div>

    <div id="container">
      <%= yield %>
    </div>
  </body>
  <footer class="footer">
    <p><small> &copy; 2020 <strong>A Click Away</strong><%if logged_in? %> | <a href="/logout">Log Out</a><% end %></small></p>
  </footer>

  </html>